<!-- Cabeçalho do app ou app bar -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- corpo da app -->
<ion-content [fullscreen]="true" color="light">
  <!-- aqui dentro pode add html de boa -->
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/uMzOYHGiHEfknowTlg3o72gSvHy.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Fullmetal Alchemist: (2022)</h1>
        <p> 24/06/2022 (JP)- 2h 21m</p>
        <p>Ação, Aventura, Fantasia</p>
      </div>
    </ion-label>
    <ion-chip color="success" outline>76</ion-chip>
  </ion-item>

</ion-content>
                          




<!-- tem essa estrutura padrão  -->
<!-- dentro de ion-content pode ser add qualquer tags HTML e CSS de boa-->
<!-- slot trava o elemento na posição que ele está end - start etc -->


<!-- ion-chip é um chip de informação -->
<!-- ion-label é um label -->
<!-- ion-thumbnail é uma imagem -->
<!-- ion-item é um item -->
<!-- ion-toolbar é uma barra de ferramentas -->
<!-- ion-title é um título -->
<!-- ion-radio-group é um grupo de radios -->
<!-- ion-text-wrap é um texto que quebra a linha -->
<!-- lines="full ou inset" é a linha que separa os itens -->




 
